.code-container {
  display: flex;
  align-items: flex-start;
  max-height: 400px; /* Set the max height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.line-numbers {
  width: 70px;
  text-align: right;
  background-color: #000000;
  padding-right: 10px;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-right: 1px solid #990303;
  color: darkgray;
}

.line-number-text {
  display: block;
  text-align: right;
  line-height: 1.5;
}

.code-snippet {
  flex-grow: 1;
  overflow-x: auto;
  background-color: #070707;
  padding-left: 10px;
}

pre {
  margin: 0;
  padding: 0;
}

code {
  display: block;
  white-space: pre;
}
